body{
    background-color: graytext;
    justify-content: center;
}

.TITULO {
  font-size: 50px;
  font-weight: 900;
  margin: 60px auto 0;
  font-style: italic;
margin-left: 26%;
margin-top: 1%;
  
}

.SUBTITULO {
  font-size: 50px;
  font-weight: 200;
  margin: 60px auto 0;
  font-style: italic;
  margin-left: 31%;
  margin-top: 0.8%
}

.CAJA1 {
  margin-left: 470px;
  justify-content: center;
}

.CAJA2 {
  margin-left: 450px;
  font-size: 20px;
  font-weight: 100;
  box-shadow:  10px 10px 10px 10px rgba(0,0,0,0.4)
}

.boton {
  margin-left: 555px;
  font-size: 15px;
  font-weight: 60;
  background-color:#CCC;
  
  
     
 
}





