button {
    font-size: 18px;
    border-radius: 8px;
    width: 90%;
    height: 40px;
    margin: 3px;
}

body {
    margin: 30px;
}

.bordeSombra {
    margin-top: 12px;
    border-radius: 10px;
    box-shadow: #272727d8 6px 6px 5px;
}

.sBtn {
    text-align: left 15px;
    background-color: black;
}

.sBtn:hover {
    background-color: gray;
    height: 44px;
    width: 92%;
}

#cabecera {
    background: rgb(201, 236, 234);
    background: linear-gradient(90deg, rgba(201, 236, 234, 1) 0%, rgba(55, 199, 203, 0.87718837535014) 91%);
}

#miLogo {
    height: 230px;
    width: 230px;
    padding: 30px;
}

#piePagina {
    height: 110px;
    margin-top: 35px;
    margin-bottom: 35px;
    background: rgb(255, 253, 253);
    background: linear-gradient(90deg, rgba(255, 253, 253, 1) 0%, rgba(133, 249, 238, 0.6671043417366946) 100%);
}

#titulo {
    padding: 2%;
    font-size: 60px;
    color: black;
    text-shadow: #272727d8 6px 6px 5px;
}

#slogan {
    color: white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contenidos {
    background: rgb(245, 244, 243);
    background: linear-gradient(90deg, rgba(245, 244, 243, 1) 0%, rgba(168, 168, 168, 0.6755077030812324) 93%);
}

#menupie {
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}