button {
  font-size: 23px;
  border-radius: 8px;
  width: 90%;
  height: 40px;
  margin: 3px;
}

.bordeSombra {
  margin-top: 12px;
  border-radius: 10px;
  box-shadow: #272727d8 6px 6px 5px;
}

.sBtn {
  text-align: left 40px;
  background-color: #910909;
 }

.sBtn:hover {
  background-color: #300404;
  height: 44px;
  width: 92%;
}
